<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模板引擎 art-template</title>
</head>
<body>

	<script src="../node_modules/art-template/lib/template-web.js"></script>
	<script type="text/template" id="tpl">
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Document</title>
		</head>
		<body>
			{{ name }}
			{{ age }}
			{{each hobbies}}{{ $value }} {{/each}}
		</body>
		</html>
	</script>
	<script type="text/javascript">
		var student = template('tpl',{
			name : 'zpj',
			age  : 23,
			hobbies : [
				'敲代码',
				'幻想',
				'看美女'
			] 
		})
		console.log(student)
	</script>
</body>
</html>